{% extends 'starter-page.html' %}
{% load static %}

{% block body %}

      <!-- Get A Quote Section -->
      <form method="POST" >
          {% csrf_token %}
          <section id="get-a-quote" class="get-a-quote section">

      <div class="container">

        <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-5 quote-bg" style="background-image: url(static/assets/img/quote-bg.jpg);"></div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
            <form action="/update/{{ formation.id }}" method="POST" class="php-email-form">
                {% csrf_token %}
              <h3>Update Your Details</h3>
              <p>Update your details below:</p>



              <div class="row gy-4">
                <div class="col-md-6">
                    <label>
                        <input type="text" value="{{ formation.departure }}"  name="departure" class="form-control" placeholder="City of Departure" required="">
                    </label>
                </div>

                <div class="col-md-6">
                    <label>
                        <input type="text" value="{{ formation.destination }}" name="destination" class="form-control" placeholder="Destination" required="">
                    </label>
                </div>

                <div class="col-md-6">
                    <label>
                        <input type="number" value="{{ formation.tickets }}" name="tickets" class="form-control" placeholder="No. of tickets" required="">
                    </label>
                </div>

                <div class="col-md-6">
                    <label>
                        <input type="number" value="{{ formation.buses }}" name="buses" class="form-control" placeholder="No. of buses" required="">
                    </label>
                </div>

                <div class="col-lg-12">
                  <h4>Your Personal Details</h4>
                </div>

                <div class="col-12 ">
                    <label>
                        <input type="text" value="{{ formation.name }}" name="name" class="form-control" placeholder=" enter your fullname" required="">
                    </label>
                </div>

                <div class="col-12 ">
                    <label>
                        <input type="email" value="{{ formation.email }}" class="form-control" name="email" placeholder="Enter your email" required="">
                    </label>
                </div>

                <div class="col-12">
                    <label>
                        <input type="text" value="{{ formation.phone }}" class="form-control" name="phone" placeholder="Enter your phone number" required="">
                    </label>
                </div>

                <div class="col-12">
                    <label>
                        <textarea class="form-control" value="{{ formation.message }}"  name="message" rows="6" placeholder="Message(optional)" ></textarea>
                    </label>
                </div>

                <div class="col-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>

                  <button type="submit">update information</button>
                </div>

              </div>
            </form>
          </div><!-- End Quote Form -->

        </div>

      </div>


    </section><!-- /Get A Quote Section -->
   </form>

{% endblock %}