<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - BusConnect</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
    
  {% load static %}  

  <!-- Favicons -->
  <link href="{% static 'assets/js/main.js' %}" rel="icon">
  <link href="{% static 'assets/js/main.js' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">BusConnect</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}" class="active">Home<br></a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'pricing' %}">Pricing</a></li>
          <li><a href="{% url 'details' %}">Details</a></li>
          <li><a href="{% url 'image' %}">Buses</a></li>
          <li><a href="{% url 'upload' %}">Upload Bus</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'quote' %}">Book A Bus</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{% url 'login' %}">Log Out</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'assets/img/world-dotted-map.png' %}" alt="" class="hero-bg" data-aos="fade-in">

      <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h2 data-aos="fade-up">Your Preferred Transport Companion</h2>
            <p data-aos="fade-up" data-aos-delay="100">We are always with you in every step of the way</p>


            <div class="row gy-4" data-aos="fade-up" data-aos-delay="300">

              <div class="col-lg-3 col-6">
                <div class="stats-item text-center w-100 h-100">
                  <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="0" class="purecounter">232</span>
                  <p>Clients</p>
                </div>
              </div><!-- End Stats Item -->

              <div class="col-lg-3 col-6">
                <div class="stats-item text-center w-100 h-100">
                  <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="0" class="purecounter">521</span>
                  <p>Buses</p>
                </div>
              </div><!-- End Stats Item -->

              <div class="col-lg-3 col-6">
                <div class="stats-item text-center w-100 h-100">
                  <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="0" class="purecounter">1453</span>
                  <p>Support</p>
                </div>
              </div><!-- End Stats Item -->

              <div class="col-lg-3 col-6">
                <div class="stats-item text-center w-100 h-100">
                  <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="0" class="purecounter">32</span>
                  <p>Workers</p>
                </div>
              </div><!-- End Stats Item -->

            </div>

          </div>

          <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            <img src="{% static 'assets/img/hero-img.svg' %}" class="img-fluid mb-3 mb-lg-0" alt="">
          </div>

        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
            <div>
              <h4 class="title">Airport Shuttle</h4>
              <p class="description">Whether you're catching a flight or arriving in the city, trust BusConnect to provide a smooth and convenient journey.</p>
              <a href="{% url 'services' %}" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
            <div>
              <h4 class="title">Weddings and other events</h4>
              <p class="description">Make your special day even more memorable with BusConnect. Our premium bus services provide comfortable and reliable transportation for weddings, corporate events, and other special occasions.</p>
              <a href="{% url 'services' %}" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
            <div>
              <h4 class="title">Tours and Corporate travels</h4>
              <p class="description">Our buses are perfect for group tours, corporate outings, and team-building events, offering comfortable seating and modern amenities to ensure a pleasant journey.</p>
              <a href="{% url 'services' %}" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Featured Services Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'assets/img/pexels-efrem-efre-2786187-12995846.jpg' %}" class="img-fluid" alt="">
            <a href="https://youtu.be/R3ZYGBHQwWk" class="glightbox pulsating-play-btn"></a>
          </div>

          <div class="col-lg-6 content order-last  order-lg-first" data-aos="fade-up" data-aos-delay="100">
            <h3>About Us</h3>
            <p>
              At BusConnect, we believe that travel should be convenient, comfortable, and affordable. Established in 2024, our mission is to provide seamless and enjoyable bus booking experiences for travelers across Nairobi. Whether you're commuting to work, planning a weekend getaway, or embarking on a cross-country adventure, we've got you covered.
            </p>
            <ul>
              <li>
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>Our Mision</h5>
                  <p>Our mission is to provide a reliable, convenient, and enjoyable bus booking experience for our customers. We are committed to continuously improving our services and expanding our network to make travel easier for everyone.</p>
                </div>
              </li>
              <li>
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Our Vision</h5>
                  <p> We envision a world where bus travel is the preferred choice for its convenience, affordability, and environmental benefits. We strive to be the leading bus booking platform, connecting travelers with the best transportation options and making every journey a pleasant one.</p>
                </div>
              </li>
              <li>
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Join Us On Our Journey</h5>
                  <p>
                     Thank you for choosing [Your Company Name] for your travel needs. We look forward to serving you and making your bus travel experience as smooth and enjoyable as possible. Stay connected with us through our social media channels and be the first to know about our latest updates and promotions.
                  </p>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Our Services<br></span>
        <h2>Our ServiceS</h2>
        <p>we offer the following services</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/pexels-vlasceanu-1386484.jpg' %}" alt="" class="img-fluid ">
              </div>
              <h3>School Bus Rental</h3>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/pexels-edwardeyer-1045541.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Weddings and Engagements</a></h3>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/pexels-josh-hild-1270765-14391267.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Corporate Travel</a></h3>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/pexels-cottonbro-6686303.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Private Travel</a></h3>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/pexels-pixabay-69121.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3>Airport Shuttles</h3>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/pexels-technobulka-2977304.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Tours and Excursions</a></h3>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="{% static 'assets/img/pexels-julien-goettelmann-44396125-29201754.jpg' %}" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Call To Action</h3>
              <p>Incase of any Emergency or question don't hesitate to call us</p>
              <a class="cta-btn" href="{% url 'contact' %}">Call To Action</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

   <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Features</span>
        <h2>Features</h2>
        <p>the following features are available:</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <img src="{% static 'assets/img/features-1.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
            <h3>Special Offers and Discounts:</h3>
            <p class="fst-italic">
              Highlights on:


            </p>
            <ul>
              <li><i class="bi bi-check"></i><span>Current Promotions</span></li>
              <li><i class="bi bi-check"></i> <span>Exclusive Deals</span></li>
              <li><i class="bi bi-check"></i> <span>Best offers</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'assets/img/features-2.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
            <h3>User-Friendly Interface</h3>
            <p class="fst-italic">
              Easy navigation and intuitive design for a smooth booking process.
            </p>
            <p>
                Our website and app are designed for effortless navigation with:

            </p>
            <ul>
              <li><i class="bi bi-check"></i> <span>clear menus</span></li>
              <li><i class="bi bi-check"></i><span>easily accessible links</span></li>
              <li><i class="bi bi-check"></i> <span></span>timely updates</li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
            <img src="{% static 'assets/img/features-3.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up">
            <h3>24/7 Customer Support</h3>
            <p>Access to dedicated customer support for assistance with :</p>
            <ul>
              <li><i class="bi bi-check"></i> <span>bookings</span></li>
              <li><i class="bi bi-check"></i><span> inquiries</span></li>
              <li><i class="bi bi-check"></i> <span>travel issues</span>.</li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out">
            <img src="{% static 'assets/img/pexels-cottonbro-5077049.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
            <h3>Easy Booking Process</h3>
            <p class="fst-italic">
              Step-by-step guidance on how to book your bus tickets:
            </p>
            <li><i class="bi bi-check"></i> <span>search</span></li>
              <li><i class="bi bi-check"></i><span>selection</span></li>
              <li><i class="bi bi-check"></i> <span>payments</span>.</li>

          </div>
        </div><!-- Features Item -->

      </div>

    </section><!-- /Features Section -->

    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Pricing</span>
        <h2>Pricing</h2>
        <p>Bus booking rates:</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="pricing-item">
              <h3>Destinations Within Nairobi CBD</h3>
              <h4><sup>Ksh</sup>10,000<span> / trip</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Good customer service</span></li>
                <li><i class="bi bi-check"></i> <span>Timely pickup</span></li>
                <li><i class="bi bi-check"></i> <span>Safe travels</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Dropping off at random points</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Picking up at random points</span></li>
              </ul>
              <a href="{% url 'quote' %}" class="buy-btn">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-item featured">
              <h3>Destinations Close to Nairobi CBD</h3>
              <h4><sup>$</sup>15,000<span> / trip</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Good Customer Service</span></li>
                <li><i class="bi bi-check"></i> <span>Timely Pickup</span></li>
                <li><i class="bi bi-check"></i> <span>Safe Travels</span></li>
                <li><i class="bi bi-check"></i> <span>Dropping off at random points</span></li>
                <li><i class="bi bi-check"></i> <span>Picking up at random points</span></li>
              </ul>
              <a href="{% url 'quote' %}" class="buy-btn">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="pricing-item">
              <h3>Remote Areas in Nairobi</h3>
              <h4><sup>Ksh</sup>20,000<span> / trip</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Good Customer Services</span></li>
                <li><i class="bi bi-check"></i> <span>Timely Pickup</span></li>
                <li><i class="bi bi-check"></i> <span>Safe Travels</span></li>
                <li><i class="bi bi-check"></i> <span>Dropping off at random points</span></li>
                <li><i class="bi bi-check"></i> <span>Picking up at random points</span></li>
              </ul>
              <a href="{% url 'quote' %}" class="buy-btn">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- /Pricing Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section dark-background">

      <img src="{% static 'assets/img/pexels-faheem-ahamad-422934800-16432259.jpgpython' %}" class="testimonials-bg" alt="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Kelly Oboso</h3>
                <h4>Ceo &amp; Founder</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Safe and Comfort while traveling with us</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Captivating designs aimed at comfort</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Manager</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Be assured of comfort and timely services</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Driver</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Will get you there on time</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Customer-Service</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Customer care of the highest form</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Frequently Asked Questions</span>
        <h2>Frequently Asked Questions</h2>
        <p>Frequently asked questions about BusConnect</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10">

            <div class="faq-container">

              <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>How do I book a bus ticket? </h3>
                <div class="faq-content">
                  <p>To book a bus ticket, simply enter your departure and destination locations, select your travel date, and choose from the available bus options. Follow the prompts to complete your booking and make payment.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Can I book a round-trip ticket?</h3>
                <div class="faq-content">
                  <p>Yes, you can book round-trip tickets. When selecting your travel dates, choose both your departure and return dates to see round-trip options.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Is it safe to book tickets online?</h3>
                <div class="faq-content">
                  <p>Absolutely. Our website uses secure payment gateways to ensure your personal and payment information is protected.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="500">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Can I change my booking details after making a reservation?</h3>
                <div class="faq-content">
                  <p>Yes, you can change your booking details by contacting our customer support. Please note that changes may be subject to availability and additional charges.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="600">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>What payment methods are accepted?</h3>
                <div class="faq-content">
                  <p>We accept various payment methods, including credit/debit cards, mobile payments, and online banking. Please check the payment options at checkout for more details.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div>

        </div>

      </div>

    </section><!-- /Faq Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <span class="sitename">BusConnect</span>
          </a>
          <p>Welcome to BusConnect – your go-to platform for convenient, reliable, and affordable bus travel. At BusConnect, we strive to make your travel experience as seamless and enjoyable as possible. With a user-friendly interface, a wide selection of routes, and secure payment options, booking your next bus trip has never been easier. Whether you're commuting daily or planning a getaway, trust BusConnect to get you there safely and on time. Join our community of happy travelers and experience the future of bus travel with BusConnect. 🚌✨</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About us</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'details' %}">Terms of service</a></li>
            <li><a href="{% url 'about' %}">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Customer Care</a></li>
            <li><a href="#">Comfortable Travel</a></li>
            <li><a href="#">Real time updates</a></li>
            <li><a href="#">Easy Cancellation and Refunds</a></li>
            <li><a href="#">Special offers and discounts</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>A108 University Way</p>
          <p>Jevanjee, Nairobi</p>
          <p>Kenya</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+254 790215308</span></p>
          <p><strong>Email:</strong> <span>kellyoboso@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">BusConnect</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="{% url 'home' %}">KellyOboso</a><br>
        <a href="/admin">Admin</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>