<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Pricing - BusConnect</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
    
  {% load static %}  

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="pricing-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">BusConnect</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}">Home<br></a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'pricing' %}" class="active">Pricing</a></li>
          <li><a href="{% url 'details' %}" class="active">Details</a></li>
          <li><a href="{% url 'image' %}">Buses</a></li>
          <li><a href="{% url 'upload' %}">Upload Bus</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'quote' %}">Book A Bus</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{% url 'login' %}">Log Out</a>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>Pricing</h1>
        <p>Your Best Bus Booking Company</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">Pricing</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Pricing</span>
        <h2>Pricing</h2>
        <p>Bus booking rates:</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="pricing-item">
              <h3>Destinations Within Nairobi CBD</h3>
              <h4><sup>Ksh</sup>10000<span> / trip</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Good customer service</span></li>
                <li><i class="bi bi-check"></i> <span>Timely pickup</span></li>
                <li><i class="bi bi-check"></i> <span>Safe travels</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Dropping off at random points</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Picking up at random points</span></li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-item featured">
              <h3>Destinations Close to Nairobi CBD</h3>
              <h4><sup>Ksh</sup>15,000<span> / trip</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Good Customer Service</span></li>
                <li><i class="bi bi-check"></i> <span>Timely Pickup</span></li>
                <li><i class="bi bi-check"></i> <span>Safe Travels</span></li>
                <li><i class="bi bi-check"></i> <span>Dropping off at random points</span></li>
                <li><i class="bi bi-check"></i> <span>Picking up at random points</span></li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="pricing-item">
              <h3>Remote Areas in Nairobi</h3>
              <h4><sup>Ksh</sup>20,000<span> / trip</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Good Customer Services</span></li>
                <li><i class="bi bi-check"></i> <span>Timely Pickup</span></li>
                <li><i class="bi bi-check"></i> <span>Safe Travels</span></li>
                <li><i class="bi bi-check"></i> <span>Dropping off at random points</span></li>
                <li><i class="bi bi-check"></i> <span>Picking up at random points</span></li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- /Pricing Section -->

    <!-- Alt Pricing Section -->
    <section id="alt-pricing" class="alt-pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Alt Pricing<br></span>
        <h2>Alt Pricing</h2>
        <p>Alternative pricing</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 pricing-item" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h3>Destination within CBD</h3>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h4><sup>Ksh</sup>15,000<span> / trip</span></h4>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <ul>
              <li><i class="bi bi-check"></i> <span>VIP</span></li>
              <li><i class="bi bi-check"></i> <span>Extra Comfort</span></li>
              <li class="na"><i class="bi bi-x"></i> <span>Refreshments served</span></li>
            </ul>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center"><a href="{% url 'quote' %}" class="buy-btn">Buy Now</a></div>
          </div>
        </div><!-- End Pricing Item -->

        <div class="row gy-4 pricing-item featured mt-4" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h3>Destinations Close to Nairobi CBD</h3>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h4><sup>Ksh</sup>20,000<span> / trip</span></h4>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <ul>
              <li><i class="bi bi-check"></i> <span>VVIP</span></li>
              <li><i class="bi bi-check"></i> <strong>Extra Comfort</strong></li>
              <li><i class="bi bi-check"></i> <span>Refreshments to be served</span></li>
            </ul>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center"><a href="{% url 'quote' %}" class="buy-btn">Buy Now</a></div>
          </div>
        </div><!-- End Pricing Item -->

        <div class="row gy-4 pricing-item mt-4" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h3>Remote Areas in Nairobi</h3>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h4><sup>Ksh</sup>25,000<span> / trip</span></h4>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <ul>
              <li><i class="bi bi-check"></i> <span>VVVIP</span></li>
              <li><i class="bi bi-check"></i> <span>Extra Comfort</span></li>
              <li><i class="bi bi-check"></i> <span>Refreshments and Food Served</span></li>
            </ul>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center"><a href="{% url 'quote' %}" class="buy-btn">Buy Now</a></div>
          </div>
        </div><!-- End Pricing Item -->

      </div>

    </section><!-- /Alt Pricing Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <span class="sitename">BusConnect</span>
          </a>
          <p>Welcome to BusConnect – your go-to platform for convenient, reliable, and affordable bus travel. At BusConnect, we strive to make your travel experience as seamless and enjoyable as possible. With a user-friendly interface, a wide selection of routes, and secure payment options, booking your next bus trip has never been easier. Whether you're commuting daily or planning a getaway, trust BusConnect to get you there safely and on time. Join our community of happy travelers and experience the future of bus travel with BusConnect. 🚌✨</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
           <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About us</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'details' %}">Terms of service</a></li>
            <li><a href="{% url 'about' %}">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Customer Care</a></li>
            <li><a href="#">Comfortable Travel</a></li>
            <li><a href="#">Real time updates</a></li>
            <li><a href="#">Easy Cancellation and Refunds</a></li>
            <li><a href="#">Special offers and discounts</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>A108 University Way</p>
          <p>Nairobi, NB</p>
          <p>Kenya</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+254 79021 5308</span></p>
          <p><strong>Email:</strong> <span>kellyoboso@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">BusConnect</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="{% url 'home' %}">KellyOboso</a><br>
        <a href="/admin">Admin login</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>